/* Base Styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
  color: #f2f2f2;
}

h1 {
  font-size: 45px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

/* Navigation Bar */
nav {
  margin-top: 10px;
  margin-right: 10px;
  overflow: hidden;
  background-color: #333;
  border-radius: 8px;
}

nav a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 18px 25px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #0f0f0f;
  transition: all 0.3s ease;
}

nav a.active {
  background-color: #4c24ff;
  color: white;
  border-radius: 8px;
}

nav a.active:hover {
  background-color: #2f00ff;
  color: white;
  transition: all 0.3s ease;
}

nav .icon {
  display: none;
}

/* Navbar Responsiveness */
@media screen and (max-width: 768px) {
  nav a:not(:first-child) {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
    cursor: pointer;
  }

  nav.responsive {
    position: relative;
  }

  nav.responsive .icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  nav.responsive a {
    display: block;
    text-align: left;
    padding: 16px;
  }
}

/* Input Fields */
input {
  width: 60%;
  padding: 15px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #141414;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
}

input[type=text] {
  transition: 0.3s ease;
}

input:focus {
  background-color: #333;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.5);
}

input:hover {
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.46);
  transition: 0.3s ease;
}

/* Cards */
#card1,
#card2,
#card3,
#card4 {
  outline: 3px solid #004be0;
  text-align: center;
  width: 23%;
  height: 200px;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  transition: 0.3s ease;
  margin: 15px;
}

#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover {
  background-color: #004be0;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Featured Section */
#featured {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 20px;
}

/* Clock */
.clock {
  position: absolute;
  width: 350px;
  top: 98%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #3d7eff;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  transition: color 0.3s ease;
}

.clock:hover {
  color: #ffffff;
  transition: color 0.3s ease;
}

